@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=League+Spartan&family=Lora:ital@0;1&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
    background: url(img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:#eeeff3b4 ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a ;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#main1 h1 {
    font-size: 75px;
    text-align: center;
    padding-top: 20px;
    color: #6a6b6e;
    
    
}
#main1 h1::before{
    content: "";
    display: inline-block;
    width: 70px;
    height: 60px;
    background: url("img/logo.png") no-repeat;
    background-size: contain;
}
#main1 h2{
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 450px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    font-size: 25px;
    text-decoration: underline;
    color: #787676;
    
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    padding-bottom: 35px;
}
.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

button {
    width: 50%;
    position: relative;
    border: none;
    border-radius: 5px;
    padding-top: 35px;
    padding-left: 500px;
    background-color: #27bab0;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;

}

button:hover {
    background-color: rgb(197, 192, 192);
}

